  <a href="annonce/annonce.html"> 
                         <article class="d-flex col">
                       <img src="{{asset('assets/img/canicheBlanc.jpg')}}" alt="caniche noir">
                       <div id="textAnnonce">
                        <ul>
                            <li>Caniche</li>
                            <li>Age: 18 mois</li>
                            <li>Sexe: mâle</li>
                            <li>Vacciné: oui</li>
                        </ul>
                        <p>Lyon(69)/<br>Rhône-Alpes</p>
                        <p>Publié 03/10/2020</p>
                        <p>300 €</p>
                    </div>
                   </article>
                        </a>