     <a href="annonce/annonce.html"> 
                     <article class="d-flex col">
                        <img src="{{asset('assets/img/caniche.jpg')}}" alt="caniche noir">
                        <div id="textAnnonce">
                            <ul>
                               <li>Caniche Toy</li>
                               <li>Age: 13 mois</li>
                               <li>Sexe: mâle</li>
                               <li>Vacciné: oui</li>
                             </ul>
                             <p>Val-de-Mar(94)/<br>Villefranche</p>
                             <p>Publié aujourd'hui</p>
                             <p>250 €</p>
                         </div>
                    </article>
                    </a>