  <a href="annonce/annonce.html"> 
                      <article class="d-flex col">
                        <img src="{{asset('assets/img/canichetoy.jpg')}}" alt="caniche noir">
                        <div id="textAnnonce">
                           <ul>
                              <li>Caniche</li>
                              <li>Age: 15 mois</li>
                              <li>Sexe: femelle</li>
                              <li>Vacciné: oui</li>
                           </ul>
                            <p>Boug-en-Bresse(01)/<br>Ain</p>
                            <p>Publié hier</p>
                            <p>400 €</p>
                        </div>
                    </article>
                    </a> 