                        <a href="annonce/annonce.html"> 
                         <article class="d-flex col">
                          <img src="{{asset('assets/img/encartNain.png')}}" alt="caniche noir">
                          <div id="textAnnonce">
                          <ul>
                            <li>Caniche Toy</li>
                            <li>Age: 6 mois</li>
                            <li>Sexe: femelle</li>
                            <li>Vacciné: oui</li>
                        </ul>
                        <p>Miribel(01)/<br>Ain</p>
                        <p>Publié 09/10/2020</p>
                        <p>150 €</p>
                     </div>
                    </article>
                        </a>