              <!--PARTIE FILTRE-->
                <div id="filtre">
                    <div id="first" class="d-flex justify-content-center align-items-center">
                        <img src="{{ asset('assets/img/search.png') }}" id="searchIcon">
                        <p class="font-weight-bold">Par le nom de la race (mot-clé)</p>
                    </div>

                    <div class="d-flex justify-content-center align-items-center" id="second">
                        <img src="{{ asset('assets/img/ABC.png') }}" id="lettres">
                        <p class="font-weight-bold">Par ordre alphabétique</p>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{asset('assets/img/dog_2.png')}}">
                        <p class="font-weight-bold">Par sa taille</p>

                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{asset('assets/img/house.png')}}">
                        <p class="font-weight-bold">Par son groupe racial</p>
                    </div>
                </div>