        <section id="chien">
            <h1 class="font-weight-bold">Trouver un chien</h1>
            <p class="font-weight-bold">Ce moteur de recherche vous permet de trouver<br>les portées disponibles par
                race et par département.</p>
            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Maxime provident
                molestias nam voluptas quidem ipsum, <br>facilis omnis deserunt consectetur dolorem corporis
                enim<br>morbi.</p>
            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Maxime provident
                molestias nam voluptas quidem ipsum, <br>facilis omnis deserunt consectetur dolorem corporis
                enim<br>morbi.</p>
        </section>